<h1>STUDENTS INDEX PAGE</h1>

<%= @students.each do |student| %>
  <section id="student-<%= student.id %>">
    Student's Number of Professors:
      <%= student.count %>

    Student's courses:
      <% student.professors.each do |professor| %>
        <%= professor.specialty %>
      <% end %>
  </section>
<% end %>