<h1>PROFESSORS INDEX PAGE</h1>

<% @professors.sort_professors.each do |professor| %>
  <section id="professor-<%= professor.id %>" class="individual-professors">
    Name: <%= professor.name %></br>
    Age: <%= professor.age %></br>
    Specialty:  <%= professor.specialty %></br>
  </section>
<% end %></br></br>